<div class="row">
  <div class="col-md-12">

    <h2> 拍卖物品 </h2>

    <table class="table table-bordered">
      <thead>
        <tr>
          <th width="80%">商品明细</th>
          <th>一口价</th>

        </tr>
      </thead>
      <tbody>

        <% @products.each do |p| %>
        <tr>
          <td>
            <%= p.product.title %>
          </td>
          <td>
            <%= p.product.buyout %>
          </td>



        </tr>
        <% end %>

      </tbody>
    </table>

    <hr>

    <h2> 订单资讯 </h2>

    <div class="order-form">

      <%= simple_form_for @order do |f| %>

      <lenged> 订购人 </legend>
        <div class="form-group col-lg-6">
          <%= f.input :billing_name %>
        </div>
        <div class="form-group col-lg-6">
          <%= f.input :billing_address %>
        </div>

        <legend> 收货人 </legend>
        <div class="form-group col-lg-6">
          <%= f.input :shipping_name %>
        </div>
        <div class="form-group col-lg-6">
          <%= f.input :shipping_address %>
        </div>

        <div class="checkout">
          <%= f.submit "生成订单", class: "btn btn-lg btn-danger pull-right",
             data: { disable_with: "Submitting..." } %>
        </div>
      <% end %>

    </div>
  </div>
</div>
