<% page_header "发起对话" %>

<%= form_tag messages_path, method: :post do %>
  <div class="form-group">
    <%= label_tag 'message[subject]', 'Subject' %>
    <%= text_field_tag 'message[subject]', nil, class: 'form-control', required: true %>
  </div>

  <div class="form-group">
    <%= label_tag 'message[body]', 'Message' %>
    <%= text_area_tag 'message[body]', nil, cols: 3, class: 'form-control', required: true %>
  </div>

  <div class="form-group">
    <%= label_tag 'recipients', 'Choose recipients' %>
    <%= select_tag 'recipients', recipients_options, multiple: true, class: 'form-control chosen-it' %>
  </div>

  <%= submit_tag 'Send', class: 'btn btn-primary' %>
<% end %>

<div class="row">
  <div class="col-md-2 col-md-offset-1">
    <ul class="nav nav-pills nav-stacked sidebar" style="max-width: 300px;">

      <p style="padding:50px;"></p>

      <li> <%= link_to("我的主页", account_user_path(current_user)) %> </li>
      <li> <%= link_to("我的出价", account_bids_path(current_user)) %> </li>
      <li> <%= link_to("我的订单", account_orders_path) %> </li>
      <li> <%= link_to("我的收藏", account_products_path) %> </li>
      <li> <%= link_to("我的信息", conversations_path) %> </li>
    </ul>
  </div>
  <div class="col-md-8">
    <%= yield %>
    </div>
  </div>
