<h1 class="text-center">我的出价</h1>
<br><br>
<table class="table">
  <thead>
    <tr>
      <th>出价次数</th>
      <th>商品编号</th>
      <th>出价</th>
      <th>更新时间</th>
    </tr>
  </thead>
  <tbody>
    <% current_user.bids.each do |bid| %>
    <tr>
      <td><%= bid.id %></td>
      <td><%= bid.product_id %></td>
      <td><%= bid.amount %></td>
      <td><%= bid.created_at.to_s(:short) %></td>
      <td><%= bid.updated_at.to_s(:short) %></td>
    </tr>
    <% end %>
  </tbody>
</table>
