  <h1 class="text-center">我的出价</h1>
  <div class="col-md-11 col-offset-1">
    <p style="padding:20px;"></p>
      <% if !current_user.bids.present? %>
        <p style="padding:20px;"></p>
        <span class="biaotou pull-left">尚无出价记录，试试参与吧</span>
      <% else %>
       <table class="table table-striped ">
       <thead class = "biaotou">
         <tr>
           <th width="15%">出价次数</th>
           <th width="15%">商品编号</th>
           <th width="15%">出价</th>
           <th width="15%">更新时间</th>
         </tr>
      </thead>

      <tbody>
        <% @bids.each do |bid| %>
        <tr>
          <td><%= bid.id %></td>
          <td><%= bid.product_id %></td>
          <td><%= bid.amount %></td>
          <td><%= bid.created_at.to_s(:short) %></td>
        </tr>
        <%end %>
      </tbody>
    </table>
    <% end %>
  <div>

  <div class="text-center">
    <%= will_paginate@bids,renderer: BootstrapPagination::Rails %>
  </div>


</div>
