<h1>Order Lists</h1>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>
        #
      </th>
      <th>
        生成时间
      </th>
      <th>
        订购者
      </th>
      <th>
        订单状态
      </th>
      <th>
        订单状态控制
      </th>
    </tr>
  <tbody>
    <% @orders.each do |order| %>
    <tr>
      <td>
        <%= link_to(order.id, admin_order_path(order) ) %>
        <%#= link_to(order.id, order_path(order.token)) %>
      </td>
      <td>
        <%= order.created_at.to_s(:long) %>
      </td>
      <td>
        <%= order.user.email %>
      </td>
      <td>
        <%= order.aasm_state %>
      </td>
      <td>
        <%= render "admin/orders/state_option", order: order %>
        </td>
    </tr>
    <% end %>
  </tbody>
</table>
