<div class="container-fluid">

<h2>编辑个人资料</h2>
<%= simple_form_for [:account, @user ] do |f| %>
  <div class="user">
    <%= f.input :name %>
  <div class="user">
    <%= f.input :profile, as: :file %>
    <% if @user.profile.present? %>
      <span>生活照</span>
      <%= image_tag(@user.profile.thumb.url) %>
    <% end %>
  <div class="user">
    <%= f.input :idcard, as: :file %>
    <% if @user.idcard.present? %>
      <span>身份证照片</span>
      <%= image_tag(@user.idcard.thumb.url) %>
    <% end %>
  </div>
    <%= f.submit "确认提交", class: "btn btn-default", data: { disable_with: "提交中..." } %>
<% end %>
<br><br><br><br><br><br><br>
</div>
</div>
</div>
