<div>
  <h1>我的主页</h1>
  <p style="padding:20px;"></p>
    <div class="row">

      <div class="col-md-2" >
        <% if @user.profile.present? %>
          <%= image_tag(current_user.profile.thumb.url, class:"img-circle") %>
        <% else %>
          <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "img-circle") %>
        <% end %>
      </div>

      <p style="padding:20px;"></p>

      <div class="col-md-10">
        <table class="table">
          <tbody>
            <tr>
              <td><strong>用户名</strong></td>
              <td><%= current_user.name %></td>
            </tr>

            <tr>
              <td><strong>用户邮箱</strong></td>
              <td><%= current_user.email %></td>
            </tr>

            <tr>
              <td><strong>用户状态</strong></td>
              <td>
                <% if current_user.is_verified %>
                  <%= "认证用户" %>
                <% else %>
                  <%= "尚未认证" %>
                <% end %>
              </td>
            </tr>
          </tbody>
        </table>

        <div class="job">
          <%= link_to("修改用户信息", edit_account_user_path(current_user), class: "btn btn-default pull-right") %>
       </div>
     </div>
  </div>
</div>
