
<link rel="stylesheet" type="text/css" href="/assets/application.scss" />

  <div class="row">
    <div class="container">
      <h2>您的订单</h2>

      <div class="col-md-8 col-md-offset-2">
        <%= link_to("订单明细", order_url(@order.token))%>
          <table class="table table-bordered">
            <thead>
              <tr>
                <th width="50%">商品名称</th>
                <th width="50%">商品价格</th>
              </tr>
            </thead>

            <tbody>
                <% @product_lists.each do |product_list| %>
              <tr>
                <td>
                  <%= product_list.product_name %>
                </td>
                <td>
                  <%= product_list.product_price %>
                </td>
              </tr>
                <% end %>
            </tbody>
          </table>

           <hr>
           <h2> 寄送资讯 </h2>
           <table class="table table-striped table-bordered">
             <tbody>
               <tr>
                 <td> 订购人信息 </td>
               </tr>
               <tr>
                 <td><%= @order.billing_name %> - <%= @order.billing_address %></td>
               </tr>
               <tr>
                 <td> 收件者信息 </td>
               </tr>
               <tr>
                 <td>
                  <%= @order.shipping_name %> - <%= @order.shipping_address %>
                 </td>
              </tr>
            </tbody>
          </table>

    </div>
  </div>
</div>
