<h1>所有商品</h1>
<div class="pull-right" style="padding-bottom: 20px;">
  <%= link_to("新增产品", new_admin_product_path, class: "btn btn-primary btn-sm") %>
</div>
<table class="table">
  <thead>
    <tr>
      <th>产品序号</th>
      <th width="200">产品图片</th>
      <th>产品名称</th>
      <th>底价</th>
      <th>一口价</th>
      <th width="45">操作</th>
      <th>竞拍起止时间</th>
      <th>拍卖状态</th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td>
          <%= product.id %>
        </td>
        <td>
          <%= link_to product_path(product) do %>
            <% if product.photos.present? %>
              <%= image_tag(product.photos[0].avatar.thumb.url, class: "xs") %>
            <% else %>
              <%= image_tag("http://placehold.it/50x50&text=No Pic", class: "xs") %>
            <% end %>
          <% end %>
        </td>
        <td>
          <%= product.title %>
        </td>
        <td>
          <%= product.price %>
        </td>
        <td>
          <%= product.buyout %>
        </td>

        <td>
          <%= link_to("修改", edit_admin_product_path(product)) %>
          <%= link_to("删除", admin_product_path(product), :method => :delete, :data => {:confirm => "Are you sure?"}) %>
          <% if product.is_hidden %>
            <%= link_to("上架", sell_admin_product_path(product), :method => :post) %>
          <% else %>
            <%= link_to("下架", notsell_admin_product_path(product), :method => :post) %>
          <% end %>
        </td>

        <td>
           <%= product.begintime.to_s(:short) %> </p>
           <%= product.endtime.to_s(:short) %> </p>
        <td>
          <%= render "admin/products/product_state", product: product %>
        </td>



      </tr>
    <% end %>
  </tbody>
</table>
