<!-- <div class = "row"> -->
  <div class="cards-row">
    <div class="container">
      <div class="row">
  <!-- 产品图片，名称，价格 -->
        <div class="col-xs-6 col-lg-3" style="height: 450px;">
          <div class="card">
            <div class="card-header">
            <%= link_to product_path(product) do %>
              <% if product.photos.present? %>
                <%= image_tag(product.photos[0].avatar.thumb.url) %>
              <% else %>
                <%= image_tag("http://placehold.it/200x200&text=No Pic") %>
              <% end %>
            <% end %>
            </div>
            <div class="caption">
              <div><%= product.title %></div>
              <div>￥<%= product.price %></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
