
<html>
  <head>
    <title> 大咖私藏 </title>
      <%#= csrf_meta_tags %>

      <%#= stylesheet_link_tags 'application', media:'all', 'data-turbolinks-track': 'reload' %>
      <%#= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>

    <body>

      <div class="container-fluid">
          <%#= render "common/navbar" %>
          <%#= render "common/flashes" %>

          <div class="row">
            <div class="col-md-2">
              Sidebar
            </div>

            <div class="col-md-10">
              <div class = "row">
                <h2 align="center"> 大咖私藏 </h2>
                <p style="padding:10px;"></p>
              </div>
            <% @products.each do |product| %>
            <div class="row">
              <div class="col-xs-6 col-md-3">
                <%= link_to product_path(product) do %>
                <% if product.image.present? %>
                  <%= image_tag(product.photos[0].avatar.thumb.url, class: "thumbnail") %>
                <% else %>
                  <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail") %>
                  <% end %>
                <% end %>
                <%= product.title %> ￥ <%= product.price %>
              </div>
              <% end %>
            </div>
          </div>

        </div>
      </div>
    </body>
</html>
