<div class="container">
  <br><br>
  <div class="row">
    <h2 align="center"> <%= @product.title %> </h2>
  </div>
  <br><br><br>
 <div class="row">
   <div class="col-md-6">
     <% if @photos.present? %>
       <% @photos.each_with_index do |p, index| %>
         <% if index == 0 %>
           <%= image_tag p.avatar.medium.url %>
             <div style="letter-spacing: -8px">
           <% else %>
             <%= image_tag p.avatar.thumb.url %>
           <% end %>
         <% end %>
             </div>
       <% else %>
           <%= image_tag("http://placehold.it/400x400&text=No Pic", class: "thumbnail") %>
         <% end %>

     </div>

     <div class="col-md-6"><br>
       <div class="well">
         <div align="left">
           <h4><%= @product.description %></h4>
         </div>
         <div >
           <h4>一口价 : ¥<%= @product.buyout %>  ----  底价 : ￥<%= @product.price %></h4>
         </div>
       </div>
       <div align="left">
         <div class="well">
           <div align="left">
             <p><h4>起拍 : <%= @product.begintime %></h4> </p>
             <p><h4>结束 : <%= @product.endtime %> </h4></p>
           </div>
         </div>

         <div class="lachang">
         <% t = Time.now %>
           <% if t < @product.begintime %>
             <p>
               <% begin_time = @product.begintime.strftime("%Y/%m/%d %H:%M:%S") %>
               <button type="button" class="btn btn-info">
                  <h3>距拍卖开始</h3>
                <p><h4><span class="tian">天</span>时－分－秒 </h4></p>
                <h2>
                 <div id="getting-started-1"></div>
                 <script type="text/javascript">
                   var BeginTime = <%= begin_time.to_json.html_safe %>
                   $("#getting-started-1")
                   .countdown(BeginTime, function(event) {
                     $(this).text(
                       event.strftime('%D days %H:%M:%S')
                     );
                   });
                 </script>
               </h2>

             </p>
           <% elsif @product.begintime < t && t < @product.endtime %>
             <p>
               <!-- https://hackhands.com/format-datetime-ruby/ -->
               <% end_time = @product.endtime.strftime("%Y/%m/%d %H:%M:%S") %>


                <div class="lachang">
                  <div align="center">
                  <br>
                  <h3>离结束还有</h3>
                 <h2>
                 <div id="getting-started"></div>
                 <script type="text/javascript">
                   var EndTime = <%= end_time.to_json.html_safe %>
                   $("#getting-started")
                   .countdown(EndTime, function(event) {
                     $(this).text(
                       event.strftime('%D天:%H时:%M分:%S秒')
                     );
                   });
                 </script>
               </h2>
                  </h2>
                </div>
                </div>

             </p>

           <% elsif @product.endtime < t %>
             <p>拍卖已结束</p>
           <% end %>
           </div>
           <br><br><br>
           <div class="container">
             <div class="row">
<%= link_to("发消息", send_message_before_auction_product(@product), method: :post) %>
             </div>
           </div>
         </div>
       </div>
     </div>
     <div class="row">
       <div class="col-md-4">
         <div class="product_story">
           <p><%= @product.product_story %></p>
         </div>
       </div>
       <div class="col-md-6">
         <div align="right">
           <%= link_to("查看所有出价", product_bids_path(@product), :method => :get, :class => "btn btn-primary btn-lg")%>
           <%= link_to("加入收藏夹", favor_product_path(@product), :method => :post, :class => "btn btn-primary btn-lg") %>
           <%= link_to("参加拍卖", new_product_bid_path(@product), :method => :get, :class => "btn btn-primary btn-lg btn-danger")%>
       </div>
       </div>
     </div>
 </div>



    <%# if @product.image.present? %>
      <%#= image_tag(@product.image.medium.url, class: "thumbnail") %>
    <%# else %>
      <%#= image_tag("http://placehold.it/400x400&text=No Pic", class: "thumbnail") %>
    <%# end %>

    <!-- https://hackhands.com/format-datetime-ruby/ -->
    <!-- <% end_time = @product.endtime.strftime("%Y/%m/%d %H:%M:%S") %>
    <h3>距离拍卖结束还有</h3> <br>
    <h4>
      <div id="getting-started"></div>
      <script type="text/javascript">
        // 把ruby的end_time转成js的变数(.to_json.html_safe), 才能在js中引用
        // 参考link: http://stackoverflow.com/questions/2464966/passing-ruby-variables-to-javascript-function-in-rails-view
        var EndTime = <%= end_time.to_json.html_safe %>
        $("#getting-started")
        .countdown(EndTime, function(event) {
          $(this).text(
            event.strftime('%D days %H:%M:%S')
          );
        });
      </script>
    </h4>
    <br><br> -->

    <!-- https://hackhands.com/format-datetime-ruby/ -->
    <!-- <% begin_time = @product.begintime.strftime("%Y/%m/%d %H:%M:%S") %>
    <h3>距离拍卖开始还有</h3> <br>
    <h4>
      <div id="getting-started-1"></div>
      <script type="text/javascript">
        // 把ruby的end_time转成js的变数(.to_json.html_safe), 才能在js中引用
        // 参考link: http://stackoverflow.com/questions/2464966/passing-ruby-variables-to-javascript-function-in-rails-view
        var BeginTime = <%= begin_time.to_json.html_safe %>
        $("#getting-started-1")
        .countdown(BeginTime, function(event) {
          $(this).text(
            event.strftime('%D days %H:%M:%S')
          );
        });
      </script>
    </h4>
    <br><br> -->



      <%# binding.pry %>

      <%# if @product.time_left > 0 %>
        <!-- <p>剩余时间 <%#= @product.time_left %> </p> -->
      <%# else %>
        <!-- <p>不在拍卖时间</p> -->
      <%# end %>
      <!-- <p><%#= TimeDifference %></p> -->
      <%#= link_to("加入收藏夹", favor_product_path(@product), :method => :post, :class => "btn btn-primary btn-lg btn-danger") %>

      <%# if @product.during_auction? %>
        <%# if @product.quantity > 0 %>
          <%#= link_to("参加拍卖", new_product_bid_path(@product), :method => :get, :class => "btn btn-primary btn-lg btn-danger")%>
        <%# else %>
        <!-- 销售一空，无法购买 -->
        <%# end %>
      <%# else %>
        <%#= link_to("参加拍卖", "#", :method => :post, :class => "btn btn-primary disabled btn-lg btn-danger")%>
      <%# end %>
      <%#= link_to("查看所有出价", product_bids_path(@product), :method => :get, :class => "btn btn-primary btn-lg btn-danger")%>
