<div class="container">
  <!-- <div class="row row-pics"> -->
    <div class="col-lg-6">
      <% if @photos.present? %>
        <% @photos.each_with_index do |p, index| %>
          <% if index == 0 %>
            <%= image_tag p.avatar.medium.url %>
              <div style="letter-spacing: -8px">
            <% else %>
              <%= image_tag p.avatar.thumb.url %>
              <% end %>
            <% end %>
              </div>
            <% else %>
            <%= image_tag("http://placehold.it/400x400&text=No Pic", class: "thumbnail") %>
          <% end %>
          <div class="product_story">
            <p><%= @product.product_story %></p>
          </div>


    </div>
  <!-- </div> -->



    <%# if @product.image.present? %>
      <%#= image_tag(@product.image.medium.url, class: "thumbnail") %>
    <%# else %>
      <%#= image_tag("http://placehold.it/400x400&text=No Pic", class: "thumbnail") %>
    <%# end %>


    <!-- <h3>距离拍卖结束还有</h3> <br>
    <h4>
      <div id="getting-started"></div>
      <script type="text/javascript">
        $("#getting-started")
        .countdown("", function(event) {
          $(this).text(
            event.strftime('%D days %H:%M:%S')
          );
        });
      </script>
    </h4>
    <br><br> -->
  <div class="col-lg-6">
    <h2> <%= @product.title %> </h2>
    <div style="height:100px;">
      <p><%= @product.description %></p>
    </div>
    <div>
      <p> 数量 : <%= @product.quantity %> </p>
      <p class="product-price"> 底价 : ￥<%= @product.price %> </p>
      <p> 一口价 : ¥<%= @product.buyout %></p>
    </div>
  </div>

    <div class="pull-right">
      <div>
        <p>起拍时间 <%= @product.begintime %> </p>
        <p>结束时间 <%= @product.endtime %> </p>
      <%# binding.pry %>
        <% t = Time.now %>
          <% if t < @product.begintime %>
            <p><%= @product.time_before_start(Time.now, Time.now-2.days-3.hours-4.minutes-5.seconds)%></p>
          <% elsif @product.begintime < t && t < @product.endtime %>
            <p><%= @product.time_before_end(Time.now, Time.now-2.days-3.hours-4.minutes-5.seconds) %></p>
              <%= link_to("参加拍卖", new_product_bid_path(@product), :method => :get, :class => "btn btn-primary btn-lg btn-danger")%>
          <% elsif @product.endtime < t %>
            <p>拍卖已结束</p>
            <% end %>
          <%= link_to("查看所有出价", product_bids_path(@product), :method => :get, :class => "btn btn-primary btn-lg")%>
        <%= link_to("加入收藏夹", favor_product_path(@product), :method => :post, :class => "btn btn-primary btn-lg") %>
    </div>
  </div>

</div>





      <%# binding.pry %>

      <%# if @product.time_left > 0 %>
        <!-- <p>剩余时间 <%#= @product.time_left %> </p> -->
      <%# else %>
        <!-- <p>不在拍卖时间</p> -->
      <%# end %>
      <!-- <p><%#= TimeDifference %></p> -->
      <%#= link_to("加入收藏夹", favor_product_path(@product), :method => :post, :class => "btn btn-primary btn-lg btn-danger") %>

      <%# if @product.during_auction? %>
        <%# if @product.quantity > 0 %>
          <%#= link_to("参加拍卖", new_product_bid_path(@product), :method => :get, :class => "btn btn-primary btn-lg btn-danger")%>
        <%# else %>
        <!-- 销售一空，无法购买 -->
        <%# end %>
      <%# else %>
        <%#= link_to("参加拍卖", "#", :method => :post, :class => "btn btn-primary disabled btn-lg btn-danger")%>
      <%# end %>
      <%#= link_to("查看所有出价", product_bids_path(@product), :method => :get, :class => "btn btn-primary btn-lg btn-danger")%>
