<div class="white-header-strip">
  <div class="desktop-search">
    <a href="https://www.charitybuzz.com/" class="logo-home-link">
      <img alt="Cblogo-left-align" src="//d32bbtzitrctkc.cloudfront.net/assets/hpr/cbLogo-left-align.png">
    </a>
  <div style="" id="search-form-container">
  <form action="/search" method="get" class="search-form custom">
    <div class="search-input">
      <span class="search-icon"><i class="icon-search">&nbsp;</i></span>
      <span class="twitter-typeahead" style="position: relative; display: inline-block;">
        <input autocomplete="off" class="typeahead basic-text-input brandon-family tt-input" data-ie-placeholder-text="Search for lots and charities" id="keywords" name="keywords" placeholder="Search for lots and charities" type="text" spellcheck="false" dir="auto" style="position: relative; vertical-align: top;">
        <pre aria-hidden="true" style="position: absolute; visibility: hidden; white-space: pre; font-family: brandon-grotesque, sans-serif; font-size: 16px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: normal; word-spacing: 0px; letter-spacing: normal; text-indent: 20px; text-rendering: auto; text-transform: none;">
        </pre>
        <div class="tt-menu" style="position: absolute; top: 100%; left: 0px; z-index: 100; display: none;">
          <div class="tt-dataset tt-dataset-empty_query"></div>
          <div class="tt-dataset tt-dataset-catalog_items"></div>
          <div class="tt-dataset tt-dataset-organizations"></div>
        </div>
      </span>

      <span class="search-actions">
        <a class="close-search"><i class="icon-remove">&nbsp;</i></a>
      </span>
    </div>
  </form>
  </div>
  </div>
  <ul class="login-register" data-view="header-account">
    <li><a href="/login" id="show-login-popup">Login</a></li>
    <li>/</li>
    <li><a href="/registration">Register</a></li>
  </ul></div>
<div class="full-width header-nav">
  <div class="base-width padd-horizontal_category_nav">
    <div class="hide-for-small">
      <ul class="navigation">
        <li class="left">
          <a href="https://www.charitybuzz.com/" class="home active">Home</a>
        </li>
        <li class="middle">
          <a class="nav-charities" href="#">Charities</a>
        </li>
        <li class="middle">
          <a href="/about_us" class="dream-big ">About Us</a>
        </li>
        <li class="right">
          <a href="/contact_us" class="contact  ">contact</a>
        </li>
      </ul>
    </div>
  </div>
    <ul class="mobile-navigation">
      <li class="home-sign">
        <a href="https://www.charitybuzz.com/"><i class="icon-home"></i></a>
      </li>
      <li class="logo-wrap logo">
        <a href="https://www.charitybuzz.com/" class="logo-link"></a>
      </li>
      <li class="show-menu"><i class="icon-collapse"></i>
      </li>
    </ul>
</div>


<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container navbar-white">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" href="/">大咖私藏</a>
        </div>
    </div>
    <div class="container navbar-container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" href="/">大咖私藏</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li>
              <%= link_to("看看有啥", products_path) %>
            </li>
          </ul>
          <ul class="nav navbar-nav">
            <li>
              <%= link_to("关于我们", about_products_path) %>
            </li>
          </ul>
          <ul class="nav navbar-nav">
            <li>
              <%= link_to("联系我们", contact_products_path) %>
            </li>
            <li>
              <%= link_to("历史展品", history_products_path) %>

            </li>
          </ul>
            <ul class="nav navbar-nav navbar-right">
              <li>
                <%#= link_to carts_path do %>
                  <!-- <i class="fa fa-shopping-cart"></i>(<%#= current_cart.cart_items.sum("quantity") %>) -->
                <%# end %>
              </li>
              <% if !current_user %>
                <li><%= link_to("注册", new_user_registration_path) %></li>
                <li><%= link_to(content_tag(:i, '登入', class: 'fa fa-sign-in'), new_user_session_path) %></li>
              <% else %>
                <li><%= link_to("我的订单", account_orders_path) %></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <%= current_user.name %>，你好！
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                      <% if current_user.admin? %>
                         <li>
                           <%= link_to("管理员账户", admin_products_path ) %>
                         </li>
                       <% end %>
                        <li>
                            <li> <%= link_to("我的账户", account_user_path(current_user)) %>
                            <li> <%= link_to(content_tag(:i, '登出', class: 'fa fa-sign-out'), destroy_user_session_path, method: :delete) %> </li>
                        </li>
                    </ul>
                </li>
              <% end %>
            </li>
        </ul>
    </div>
    <!-- /.navbar-collapse -->
</div>
<!-- /.container-fluid -->
</nav>
