<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" href="/">大咖私藏</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li>
              <%= link_to("看看有啥", products_path) %>
            </li>
          </ul>
          <ul class="nav navbar-nav">
            <li>
              <%= link_to("关于我们", about_products_path) %>
            </li>
          </ul>
          <ul class="nav navbar-nav">
            <li>
              <%= link_to("联系我们", contact_products_path) %>
            </li>
            <li>
              <%= link_to("历史展品", history_products_path) %>
              <%#= link_to("参加拍卖", new_product_bid_path(@product), :method => :get, :class => "btn btn-primary btn-lg btn-danger")%>
            </li>
          </ul>
            <ul class="nav navbar-nav navbar-right">
              <li>
                <%#= link_to carts_path do %>
                  <!-- <i class="fa fa-shopping-cart"></i>(<%#= current_cart.cart_items.sum("quantity") %>) -->
                <%# end %>
              </li>
              <% if !current_user %>
                <li><%= link_to("注册", new_user_registration_path) %></li>
                <li><%= link_to(content_tag(:i, '登入', class: 'fa fa-sign-in'), new_user_session_path) %></li>
              <% else %>
                <li><%= link_to("我的消息", conversations_path) %></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        Hi!,<%= current_user.email %>
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                      <% if current_user.admin? %>
                         <li>
                           <%= link_to("管理员账户", admin_products_path ) %>
                         </li>
                       <% end %>
                        <li>
                            <li> <%= link_to("我的账户", account_user_path(current_user)) %>
                            <li> <%= link_to(content_tag(:i, '登出', class: 'fa fa-sign-out'), destroy_user_session_path, method: :delete) %> </li>
                        </li>
                    </ul>
                </li>
              <% end %>
            </li>
        </ul>
    </div>
    <!-- /.navbar-collapse -->
</div>
<!-- /.container-fluid -->
</nav>
