<html>
<head>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
    <%= render "common/navbar" %>
    <div class="row">
      <div class="col-md-2 col-md-offset-1">
        <ul class="nav nav-pills nav-stacked sidebar" style="max-width: 300px;">
          <p style="padding:50px;"></p>
          <li> <%= link_to("所有商品", admin_products_path) %> </li>
          <li> <%= link_to("所有订单", admin_orders_path) %> </li>
          <li> <%= link_to("所有用户", admin_users_path) %> </li>
          <li> <%= link_to("所有出价", admin_bids_path) %> </li>
        </ul>
      </div>
      <div class="col-md-8">
        <%= yield %>
        </div>
      </div>
    </div>
    <p style="padding:100px;"></p>
    <%= render "common/footer" %>
  </body>
</html>
