<!DOCTYPE html>
<html>
  <head>
    <title>Bidstore</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class="container-fluid">
        <%= render "common/navbar" %>
        <%= render "common/flashes" %>

        <!-- <%# flash.each do |key, value| %>
          <div class="alert alert-<%#= key %>">
            <%#= value %>
          </div>
        <%# end %> -->

        <!-- <div class="page-header"> -->
          <h1><%= yield :page_header %></h1>
        <!-- </div> -->
        <%= yield %>
    </div>
  </body>
  <%= render "common/footer" %>

</html>
